<div class="container mt-3">
    <div class="mt-4 p-3 bg-secondary text-white rounded d-flex">

        <div class="container">
            <h1>Company Add form</h1>
        </div>
        <div class="container float-end">
            <h2 class="text-end"><button mat-raised-button color="primary"[routerLink]="['/company']">Company list</button></h2>
        </div>
    </div>
</div>
<div class="container">
    <form [formGroup]="registrationForm">
        <div class="container p-2 bg-light">
        <div class="form-group row">
                       
            <div class="col">
                <label class="form-label mt-3">Name</label>
                <input class="form-control" type="text" formControlName="name" required 
                    placeholder="Enter First Name">
                <div
                    *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched">
                    <p class="text-danger" style="font-size:11px;">This field is required!!</p>
                </div>

            </div>
            <div class="col">
                <label class="form-label mt-3">Address</label>
                <input class="form-control" type="text" formControlName="address" required 
                    placeholder="Enter last Name">
                <div
                    *ngIf="registrationForm.controls['address'].invalid && registrationForm.controls['address'].touched">
                    <p class="text-danger" style="font-size:11px;">This field is required!!</p>
                </div>

            </div>
        </div>
        
        <div class="form-group row">
            <div class="col">
                <label class="form-label mt-3">Industry</label>
               
                    <select class="form-select" formControlName="industry" aria-label="Default select example">
                        <option value="" selected disabled>Select industry</option>
                        <option value="Technology">Technology</option>
                        <option value="HealthCare">HealthCare</option>
                        <option value="Finance">Finance</option>
                      </select>
                <div
                    *ngIf="registrationForm.controls['industry'].invalid && registrationForm.controls['industry'].touched">
                    <p class="text-danger" style="font-size:11px;">This field is required!!</p>
                </div>

            </div>
            <div class="col">
                <label class="form-label mt-3">Size</label>
                <input class="form-control" type="number" formControlName="size" required 
                    placeholder="Enter last Name">
                <div
                    *ngIf="registrationForm.controls['size'].invalid && registrationForm.controls['size'].touched">
                    <p class="text-danger" style="font-size:11px;">This field is required!!</p>
                </div>

            </div>
        </div>
        <div class="col">
            <label class="form-label mt-3">Description</label>
            <textarea class="form-control" rows="4" type="text" formControlName="description" required 
                placeholder="Enter  description"></textarea>
            <div
                *ngIf="registrationForm.controls['description'].invalid && registrationForm.controls['description'].touched">
                <p class="text-danger" style="font-size:11px;">This field is required!!</p>
            </div>

        </div>
        <div class="form-group row">
            
            <div class="col">
                <label class="form-label mt-3">Status</label>
                     <select class="form-select" formControlName="status" aria-label="Default select example">
                        
                        <option value="" selected disabled>Select status</option>
                        <option value="Active" >Active</option>
                        <option value="In Active">In Active</option>
                        <option value="Closed">Closed</option>
                      </select>
                <div
                    *ngIf="registrationForm.controls['status'].invalid && registrationForm.controls['status'].touched">
                    <p class="text-danger" style="font-size:11px;">This field is required!!</p>
                </div>

            </div>
            <div class="col">
                <label class="form-label mt-3">Establishment Date</label>
                     <input class="form-control" type="date" formControlName="date" aria-label="Default control example">
                        
                      
                <div
                    *ngIf="registrationForm.controls['date'].invalid && registrationForm.controls['date'].touched">
                    <p class="text-danger" style="font-size:11px;">This field is required!!</p>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
            <button mat-raised-button color="primary" *ngIf="!update" (click)="addNew()">Submit</button>
            <button mat-raised-button color="primary" *ngIf="update" (click)="updateInfo()">Update</button>
        </div>
        <div class="col">
            <button mat-raised-button color="warn" (click)="reset()" >Reset</button>
        </div>
        </div>
    </div>
    </form>
</div>