<div class="container-fluid mt-3">
    <div class="mt-4 p-3 bg-secondary text-white rounded d-flex">

        <div class="container">
            <h1>Dashboard</h1>
        </div>
        
    </div>
</div>
<div class="container row">
    <div class="col m-2 p-5 bg-info" >
        <strong>Total Candidates</strong>
        <div class="container m-2 p-2 display-4 text-dark">
            45654
        </div>
    </div>
    <div class="col m-2 p-5 bg-primary" >
        <strong>Total Employees</strong>
        <div class="container m-2 p-2 display-4 text-dark">
            456764
        </div>
    </div>
    <div class="col m-2 p-5 bg-success" >
        <strong>Total Companies</strong>
        <div class="container m-2 p-2 display-4 text-dark">
            45654
        </div>
    </div>
</div>